* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.main-container {
    width: 90vw;
    background-color: lightgrey;
    margin: 17px 20px;
    padding: 16px 23px;
    box-shadow: inset 0 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 12px;
    height: auto;
    max-width: 500px;
}
h1, h2 {
    margin: 12px;
    text-align: center;

}
#timer {
    margin-bottom: 13px;
    text-align: center;
}
.answer-button {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal columns */
    gap: 10px; /* Space between columns */
}
button {
    min-height: 48px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    margin: 16px;
}

button:active {
    transform: scale(0.98);
}
.startquiz {
    align-items: center;
}
.next-btn {
    align-items: center;
}
#score {
    visibility: hidden;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;;
}

@media(max-width: 700px) {
    .main-container {
        width: 90%;
        padding: 12px;    
    }
    .answer-button {
        grid-template-columns: 1fr;
    }
    button {
        margin: 10px auto;
        width: 100%;
    }
}
